/* colors */
@blue        : #09F;
@lighter-blue: #0CF;

/* variables */
@bg-color        : #000;

@font            : Segoe UI,Arial,sans-serif;
@text-color      : #999;
@text-size       : 14px;

@link-color      : @blue;
@link-hover-color: @lighter-blue;



/* reset */
* {	margin: 0; padding: 0; }

/* global formatting */

a,
a:active,
a:visited {
	color          : @link-color;
	text-decoration: none;
}
a:hover {
	color: @link-hover-color;
	text-decoration: none;
}

body {
	background-color: @bg-color;
	color: @text-color;
	font-family: @font;
	font-size: @text-size;
	margin: 0 0 50px;
}

html {
	position: relative;
	min-height: 100%;
	/* sticky footer */
}

li {
	list-style: none;
}

select {
	background-color: #333;
	border: 1px solid #666;
	border-radius: 4px;
	color: #CCC;
	padding: 2px;
	margin-left: 16px;
	margin-right: 16px;
}

select:hover, select:focus {
	border: 1px solid #999;
	color: #FFF;
}

/* horizontal nav */

.horizontal-nav {
	padding: 0px;
	padding: 12px;
	text-align: center;
}

.horizontal-nav ul {
	display: inline;
}

.horizontal-nav ul li {
	display: inline-block;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333;

	padding-right: 10px;

	padding-left: 10px;
}

.horizontal-nav ul li:last-child {
	border: none;
}

/* general formatters */

.bold {
	font-weight: bold;
}

.bottom-border {
	border-bottom: 1px solid #333;
}

.top-border {
	border-top: 1px solid #333;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/* layout */

#catnav {
	margin-top: 2px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#main {
	padding-top: 16px;
	padding-bottom: 16px;
}

#noans {
	margin-right: 5px;
}

/* initialization */

#cat1block { display: none; }

/* topic list */

#topic-list {
	width: 900px;
	margin: 0 auto;
	border-spacing: 0px 10px;
	border-collapse: separate;
}
#topic-list tr:hover {
	color: #CCC;
}
#topic-list tr td {
	/*padding: 10px;*/
	white-space: nowrap;
}
#topic-list tr th {
	background-color: #06A;
	padding: 0px;
	color: white;
	font-size: 16px;
	text-align: center;
	width: 40px;
	height: 40px;
}
#topic-list tr:hover th {
	background-color: #09C;
}
#topic-list tr td.cat, #topic-list tr td.topic {
	padding: 0px 10px;
}
#topic-list tr td.topic {
	white-space: normal;
}
#topic-list tr td.time {
	text-align: right;
}

/* topic page */

.field { font-weight: bold; }
.value { font-weight: normal; }

#question {
	width: 900px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
}
#question h1 {
	color:#CCC;
	padding: 5px 20px;
}
#question .description {
	padding: 5px 20px;
}