/* ====================================
	juzraai: GyakoriKérdések UI v2.0
=====================================*/


/*
 	Variables
*/

@background-color: #000;
@border-color: #333;
@colored-cell-background-color: #06A;
@colored-cell-background-color-hover: #09C;
@colored-cell-text-color: #FFF;
@control-background-color: #333;
@control-border-color: #666;
@control-border-color-hover: #999;
@control-text-color: #CCC;
@control-text-color-hover: #FFF;
@font: Segoe UI, Arial, sans-serif;
@link-color: @blue;
@link-color-hover: @lighter-blue;
@text-color: #999;
@text-color-hover: #CCC;
@text-size: 14px;
@question-text-color: #CCC;


/*
	Colors
*/

@blue: #09F;
@lighter-blue: 0CF;


/*
	Reset
*/

* {
	margin: 0;
	padding: 0;
}

/*
	General formatters
*/

.bold {
	font-weight: bold;
}

.not-bold {
	font-weight: normal;
}

.border-on(@where; @color: @border-color) {
	border-@{where}: 1px solid @color;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}




/*
	Tags formatting
*/

a,
a:active,
a:visited {
	color: @link-color;
	text-decoration: none;
	&:hover {
		color: @link-color-hover;
	}
}

body {
	background-color: @background-color;
	color: @text-color;
	font-family: @font;
	font-size: @text-size;
}

html {
	min-height: 100%;
	position: relative;
	/* sticky footer */
}

input[type="checkbox"] {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

li {
	list-style: none;
}

select {
	background-color: @control-background-color;
	border: 1px solid @control-border-color;
	border-radius: 4px;
	color: @control-text-color;
	padding: 2px;

	&:hover,
	&:focus {
		border: 1px solid @control-border-color-hover;
		color: @control-text-color-hover;
	}
}


/*
	Layout
*/

body {
	margin: 88px 0 44px 0;
}

#header {
	background-color: @background-color;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#main {
	padding-top: 16px;
	padding-bottom: 16px;
}

#footer {
	background-color: @background-color;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}


/*
	Navbars
*/

#header nav,
#footer nav {
	padding: 0px;
	padding: 12px;
	text-align: center;

	select {
		margin-top: -5px;

		&:first-child {
			margin-right: 10px;
		}

		&:last-child {
			margin-left: 10px;
		}
	}

	ul {
		display: inline;

		li {
				.border-on(right);
				display: inline-block;

				padding-right: 10px;
				padding-left: 10px;

				&:last-child {
					border: none;
				}
		}
	}
}

#header nav {
	.border-on(bottom);
}

#footer nav {
	.border-on(top);
}

#cat1block {
	display: none;
}

/*
	Page: topic list
*/

#topic-list {
	width: 900px;
	margin: 0 auto;
	border-spacing: 0px 10px;
	border-collapse: separate;

	tr {

		&:hover {
			color: @text-color-hover;

			th {
				background-color: @colored-cell-background-color-hover;
			}
		}

		th {
			background-color: @colored-cell-background-color;
			color: @colored-cell-text-color;
			font-size: 16px;
			height: 40px;
			padding: 0px;
			text-align: center;
			width: 40px;
		}

		td {
			white-space: nowrap;

			&.cat,
			&.topic {
				padding: 0px 10px;
			}

			&.topic {
				white-space: normal;
			}

			&.time {
				text-align: right;
			}
		}
	}
}


/*
	Page: topic
*/

.field {
	.bold;
}

.value {
	.not-bold;
}

#question {
	.border-on(bottom);
	margin: 0px auto 20px auto;
	padding-bottom: 10px;
	width: 900px;

	h1 {
		color: @question-text-color;
		padding: 5px 20px;
	}

	#description {
		padding: 5px 20px;
	}
}